<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <img src="img/thomas.jpeg" alt="Photo Thomas" class="img-thumbnail rounded-circle"  width="150">
            <h1 class="disply-4">Thomas Gunawan</h1>
            <p class="lead">Fresh Graduate | Web Programmer</p>
        </div>
    </div>
</div>
































<!-- 
<br>

    <div class="row">
        <div class="col text-center">
            <h3>About Me</h3>
            <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam nostrum cumque dolores delectus doloribus maxime impedit sunt voluptates ullam quibusdam dolor amet quos, pariatur, aperiam, vitae praesentium autem eum velit?</p>
        </div>
    </div>

    <br>

<div class="row">
    <div class="col text-center">
        <h3>Portofolio</h3>
    </div>
</div> -->
