<br /><br />
<h1>Web Server NodeJs</h1>

<hr />
<h2><%= name %></h2>
<% students.forEach(student => { %>
<ul>
  <li>Name : <%= student.fullName %></li>
  <li>Nis : <%= student.nis %></li>
  <li>Grade : <%= student.grade %></li>
</ul>
<% }) %>
